# Core functionality - changes here should be rare!
/src/app.py                   @bensubendran
/src/backend/database.py      @bensubendran
/src/backend/routers/auth.py  @bensubendran

# The frontend will need refactored soon to be more object oriented.
/src/static/   @bensubendran
